.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-cards h2 {
  margin-bottom: 8px;
}
.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.card-list img {
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
}
.card-list::-webkit-scrollbar {
  display: none;
}
.card-list .card {
  position: relative;
}
/* .card-list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px; 
  font-weight: bold; 
  font-family: "Helvetica Neue", sans-serif; 
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
  text-transform: capitalize; 
  padding: 5px 10px; 
} */
